<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       core/templates/account/core/contact.html
@brief      Our contact page
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load static %}
{% load extra %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">

      <div class="card my-3">
        <h5 class="card-header">Contact Us</h5>
        <div class="card-body">
          <p> Currently, we do not have the resources to respond to indivual
              messages. To allow for user feedback and questions we have
              provided a <a href="feedback.wiki-o.com">forum</a>. Please use
              this framework to ask questions, make suggestions, share
              criticisms, share testimonials and report bugs. </p>

          <p> Ricki-Oh appologies for the inconvience. </p>
        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-lg-4">

      <!-- Riki-Oh Widget -->
      <div class="card my-3">
        <h5 class="card-header text-center">Riki-Oh</h5>
        <div class="card-body">
          <img src="{% static 'core/img/profiles/riki-oh.jpg' %}" class="img-fluid" alt="Responsive image">
          <h6 style="padding-top:1ex"> Our light to guide us through the darkness. </h6>
        </div>
      </div>

    </div>  <!-- end side bar-->
  </div> <!-- end row -->


{% endblock %}

