<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/evidence_edit_report.html
@brief      The evidence report user page
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}

  <!-- Title -->
  <h3><br>{{ evidence }}</h3>
  {% with ReportTab=True %}
    {% include "theories/evidence_edit_tabs.html" %}
  {% endwith %}

  <form action="{% url_extra 'theories:evidence-report' evidence.id extra=parms %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row"> <!-- Row -->
      <div class="col-lg-8"> <!-- Main Column -->

        <div class="card my-3">
          <h5 class="card-header">
            Report Violation:
          </h5>
          <div class="card card-body">
              {{ form|crispy }}
          </div>
        </div>

        <!-- Buttons -->
        <center>

          <!-- Back -->
          <button><a class="plain" href="{{ prev }}">Back</a></button> &nbsp

          <!-- Report -->
          {% has_perm 'theories.report' user as can_report %}
          <input type="submit" name="report" value="Report" {% if not can_report %} disabled {% endif %}>

        </center>

        <br>
        {% include "theories/evidence_how2.html" %}

      </div> <!-- end column -->
      <div class="col-md-4"> <!-- Sidebar Column -->

        <!-- Actions -->
        <div class="card my-3">
          <h5 class="card-header"> Actions </h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">

            </ul>
          </div>
        </div>

      </div> <!-- end column-->
    </div> <!-- end row -->
  </form>
{% endblock %}


{% block extra_modals %}


{% endblock %}


