<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/evidence_edit_restore.html
@brief      The evidence restore page
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}
  
  <!-- Title -->
  <h3><br>{{ evidence }}</h3>
  {% with RestoreTab=True %}
    {% include "theories/evidence_edit_tabs.html" %}
  {% endwith %}

  <div class="row"> <!-- Row -->
    <div class="col-lg-8"> <!-- Main Column -->

      <form action="{% url_extra 'theories:evidence-restore' evidence.id extra=parms %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <!-- errors -->
        {% include "include/formset_errors.html" with formset=formset %}
        {% for form in formset %}
          {{ form.id }}
          <div class="card my-3">
            <div class="card-header">
              <a class="plain" data-toggle="collapse" role="button" aria-expanded="false" 
                 href="#form{{forloop.counter}}" aria-controls="form{{forloop.counter}}">
                <img src="{% static 'home/img/expand.svg' %}" height='13'>
                &nbsp
                {{ form.instance.revision.date_created.date }} ({{ form.instance.revision.comment }})
              </a>
              <div class="float-right">
                {{ form.delete }}
              </div>
            </div>
            <div class="collapse" id="form{{forloop.counter}}">
              <div class="card card-body">
                  <!-- errors -->
                  {% include "include/form_errors.html" with form=form %}
                  <!-- data -->
                  {{ form.title01|as_crispy_field }}
                  {{ form.details|as_crispy_field }}
                  {{ form.verifiable|as_crispy_field }}

                  <!-- Restore -->
                  {% has_perm 'theories.restore_theorynode' user evidence as can_restore %}
                  {% if can_restore %}
                    <a data-target="#restore_modal{{ forloop.counter }}" 
                       data-toggle="modal" data-whatever="{{ forloop.counter }}" 
                       href="#restore_modal"> 
                      Restore 
                    </a>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        {% include "include/paginator.html" with list=revisions %}
        
        <!-- Buttons -->
        <center>
          <!-- Back -->
          <button><a class="plain" href="{{ prev }}">Back</a></button> &nbsp
          
          <!-- Delete -->
          {% has_perm 'theories.delete_reversion' user evidence as can_delete %}
          <input type="submit" name="save" value="Delete" {% if not can_delete %} disabled {% endif %}>
        </center>
      </form>

      <br>
      {% include "theories/evidence_how2.html" %}
    
    </div> <!-- end column -->
    <div class="col-md-4"> <!-- Sidebar Column -->

      <!-- Actions -->
      <div class="card my-3">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
          <ul class="mb-0">
          </ul>
        </div>
      </div>


    </div> <!-- end column-->
  </div> <!-- end row -->
{% endblock %}




{% block extra_modals %}

  <!-- Restore -->
  {% for form in formset %}
    <div class="modal" id="restore_modal{{ forloop.counter }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url_extra 'theories:evidence-revert' evidence.id form.instance.id extra=parms %}" method="post">
            {% csrf_token %}

            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title">Please confirm</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- body -->
            <div class="modal-body">
              This action will overwrite the exiting model. Are you sure you
              want to restore {{ form.instance.revision.date_created.date }} 
              ({{ form.instance.revision.comment }})?
            </div>

            <!-- footer -->
            {% has_perm 'theories.restore_theorynode' user evidence as can_restore %}
            <div class="modal-footer">
              <input type="submit" class="btn btn-danger" name="restore" value="Yes" {% if not can_restore %} disabled {% endif %}>
              <button type="button" class="btn" data-dismiss="modal">No</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock extra_modals %}



