<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/evidence_detail.html
@brief      The evidence info page
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}
  <div class="row"> <!-- Row -->
    <div class="col-lg-8"> <!-- Main Column -->
      <div class="my-3"> <!-- Main Card -->

        <!-- Title -->
        <h2>
          {% if evidence.is_deleted %}
            <strike>{{ evidence }}</strike>
          {% else %}
            {{ evidence }}
          {% endif %}
        </h2>
        <!-- Details -->
        <div style="text-align: justify">{{ evidence.details|long_details }}</div>
        <!-- Back -->
        <a href={{ prev }}> Go to parent theory. </a>

      </div> <!-- end card -->
    </div> <!-- end column -->
    <div class="col-md-4"> <!-- Sidebar Column -->

      <!-- Actions -->
      <div class="card my-3">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">

            <!-- Edit -->
            {% has_perm 'theories.change_theorynode' user evidence as can_edit %}
            {% if can_edit %}
              <li><a href="{% url_extra 'theories:evidence-edit' evidence.id extra=params %}"> Edit Evidence </a></li>
            {% endif %}

            <!-- Delete -->
            {% has_perm 'theories.delete_theorynode' user evidence as can_delete %}
            {% if can_delete %}
              <li><a data-target="#del_modal" data-toggle="modal" href="#del_modal"> Delete Evidence </a></li>
            {% endif %}

            <!-- Backup -->
            {% has_perm 'theories.backup_theorynode' user evidence as can_backup %}
            {% if can_backup %}
              <li><a data-target="#backup_modal" data-toggle="modal" href="#backup_modal"> Backup Evidence </a></li>
            {% endif %}

            <!-- Activity -->
            <li><li><a href="{% url_extra 'theories:evidence-activity' evidence.id extra=params %}"> View Activity Log </a></li>

            <!-- Report -->
            <li><li><a href="{% url_extra 'theories:evidence-report' evidence.id extra=params %}"> Report a Violation </a></li>

          </ul>
        </div>
      </div>

      <!-- Parent -->
      <div class="card my-3">
        <h5 class="card-header">Parent Theories</h5>
        <div class="card-body">
          <div class="row">
            <ul>
              {% for x in parent_theories %}
                <li><a href={{ x.url }}>{{ x }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Search -->
      <div class="card my-3">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

    </div> <!-- end column-->
  </div> <!-- end row -->
{% endblock %}


{% block extra_modals %}

  <!-- Backup -->
  <div class="modal" id="backup_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url_extra 'theories:evidence-backup' evidence.id extra=params %}" method="post">
          {% csrf_token %}

          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title">Please confirm</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- body -->
          <div class="modal-body">
            Backup "{{ evidence }}"?
          </div>

          <!-- footer -->
          <div class="modal-footer">
            {% has_perm 'theories.backup_theorynode' user evidence as can_backup %}
            <input type="submit" class="btn btn-danger" name="backup" value="Yes" {% if not can_backup %} disabled {% endif %}>
            <button type="button" class="btn" data-dismiss="modal">No</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Delete -->
  <div class="modal" id="del_modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title">Please confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- body -->
        <div class="modal-body">
          Are you sure you want to delete &ldquo;{{ evidence }}&rdquo;? Choose
          <b>remove</b> to remove from parent theory or <b>delete</b> to
          remove from all theories.
        </div>

        <!-- footer -->
        <div class="modal-footer">

          <!-- remove edge -->
          {% if params.path %}
            {% has_perm 'theories.delete_edge' user evidence as can_remove %}
            <form action="{% url_extra 'theories:evidence-remove' evidence.id extra=params %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" name="remove" value="Remove" {% if not can_remove %} disabled {% endif %}>
            </form>
          {% endif %}

          <!-- full delete -->
          {% has_perm 'theories.delete_theorynode' user evidence as can_delete %}
          <form action="{% url_extra 'theories:evidence-delete' evidence.id extra=params %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" name="delete" value="Delete" {% if not can_delete %} disabled {% endif %}>
          </form>

          <!-- cancel -->
          <button type="button" class="btn" data-dismiss="modal">No</button>

        </div>

      </div>
    </div>
  </div>

{% endblock extra_modals %}


