<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/evidence_edit.html
@brief      The template for changing evidence content
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}

<!-- Title -->
<h3><br>{{ evidence }}</h3>
{% with EvidenceTab=True %}
{% include "theories/evidence_edit_tabs.html" %}
{% endwith %}

<form action="{% url_extra 'theories:evidence-edit' evidence.id extra=params %}" method="post">
  {% csrf_token %}
  <div class="row">
    <!-- Row -->
    <div class="col-lg-8">
      <!-- Main Column -->

      <div class="card my-3">
        <h5 class="card-header">
          Edit:
        </h5>
        <div class="card card-body">
          {{ form|crispy }}
        </div>
      </div>

      <!-- Buttons -->
      <center>

        <!-- Back -->
        <button><a class="plain" href="{{ prev }}">Back</a></button> &nbsp

        <!-- Delete -->
        {% has_perm 'theories.delete_theorynode' user evidence as can_delete %}
        <button type="button" data-toggle="modal" data-target="#del_modal" {% if not can_delete %} disabled {% endif %}>
          Delete
        </button>
        &nbsp

        <!-- Save -->
        {% has_perm 'theories.change_theorynode' user evidence as can_change %}
        <input type="submit" name="save" value="Save" {% if not can_change %} disabled {% endif %}>

      </center>

      <br>
      {% include "theories/evidence_how2.html" %}

    </div> <!-- end column -->
    <div class="col-md-4">
      <!-- Sidebar Column -->

      <!-- Actions -->
      <div class="card my-3">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
          <ul class="mb-0">

            <!-- Convert to Sub-Theory -->
            {% has_perm 'theories.convert_theorynode' user evidence as can_convert %}
            {% if can_convert %}
            <li><a data-target="#convert_modal" data-toggle="modal" href="#convert_modal"> Convert to Sub-theory </a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>

    </div> <!-- end column-->
  </div> <!-- end row -->
</form>
{% endblock %}


{% block extra_modals %}

<!-- Convert -->
<div class="modal" id="convert_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h4 class="modal-title">Please confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- body -->
      <div class="modal-body">
        Are you sure you want to convert "{{ evidence }}" to a sub-theory?
      </div>

      <!-- footer -->
      <div class="modal-footer">
        {% has_perm 'theories.convert_theorynode' user evidence as can_convert %}
        <form action="{% url_extra 'theories:evidence-convert' evidence.id extra=params %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" name="convert" value="Yes" {% if not can_convert %} disabled
            {% endif %}>
        </form>
        <button type="button" class="btn" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>

<!-- Delete -->
<div class="modal" id="del_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h4 class="modal-title">Please confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- body -->
      <div class="modal-body">
        Are you sure you want to delete &ldquo;{{ evidence }}&rdquo;? Choose
        <b>remove</b> to remove from parent theory or <b>delete</b> to
        remove from all theories.
      </div>

      <!-- footer -->
      <div class="modal-footer">

        <!-- remove edge -->
        {% if params.path %}
        {% has_perm 'theories.delete_edge' user evidence as can_remove %}
        <form action="{% url_extra 'theories:evidence-remove' evidence.id extra=params %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" name="remove" value="Remove" {% if not can_remove %} disabled
            {% endif %}>
        </form>
        {% endif %}

        <!-- full delete -->
        {% has_perm 'theories.delete_theorynode' user evidence as can_delete %}
        <form action="{% url_extra 'theories:evidence-delete' evidence.id extra=params %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" name="delete" value="Delete" {% if not can_delete %} disabled
            {% endif %}>
        </form>

        <!-- cancel -->
        <button type="button" class="btn" data-dismiss="modal">No</button>

      </div>

    </div>
  </div>
</div>

{% endblock %}