<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/evidence_how2.html
@brief      The HowTo section for creating/editing evidence
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->

  <h3> HowTo: </h3>

  <div class="card my-3 text-justify">
    <h6 class="card-header">
      Composing the Statement
    </h5>
    <div class="card card-body">
      Statements must be composed without implication. For example the
      statement "The idiot Trump claims he is a genius" makes the additional
      implication that Trump is an idiot. It should instead be composed as
      "Trump claims he is a genius".
    </div>
  </div>

  <div class="card my-3 text-justify">
    <h6 class="card-header">
      Is this Verifiable?
    </h5>
    <div class="card card-body">
      The evidence is verifiable if and only if anyone with an unlimited
      amount of resources could confirm the correctness of the statment. For
      example, the statement "Trump is stupid" is not verifialbe but the
      statment "Trump claims he is a genius" is verifiable.
      <br></br>
      We encourage the user to include references that will allow other
      users to help verify the statement.
    </div>
  </div>

  <div class="card my-3 text-justify">
    <h6 class="card-header">
      Links
    </h5>
    <div class="card card-body">
      There are three types of links that can be included in the details
      section: inline, bib, and bib without text reference. Inline links
      are surrounded by &lt;&gt; and contain the url and title separated
      by a space. Bib links are similarly composed with square brackets and
      bib links without text reference are composed with double square
      brackets. If bib links are included, then a bibliography will be
      automatically appended to the text.
      
      <br> </br>
      Example: A bib link to this site would look like [www.wiki-o.com Wiki-O].
    </div>
  </div>

