<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/inherit_how2.html
@brief      The HowTo section for how to inherit additional evidence/theories
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->

<h3> HowTo: </h3>

<div class="card my-3 text-justify">
  <h6 class="card-header">
    Inheriting
    </h5>
    <div class="card card-body">
      Evidence and theories should not be duplicated. Instead the should be
      inherited into the theory or sub-theory in question.
    </div>
</div>