<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/opinion_detail.html
@brief      The page for displaying an opinion's dependancies
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}
  <!-- Title -->
  <h3 style="padding-top:1ex; margin-bottom:-0.25ex">

    <!-- username -->
    {% if opinion|get_class == 'Opinion' and not opinion.is_anonymous %}
      <a class="plain" href="{{ opinion.user.url }}">
        {{ opinion.get_owner_long }}
      </a>
    {% else %}
      {{ opinion.get_owner_long }}
    {% endif %}
    believes
    <a href={{ theory.url|add:params }} class="plain">
      <font {% if opinion.is_true %} color="black" {% else %} color="red" {% endif %}> &ldquo;{{ opinion|remove_punctuation }}&rdquo; </font>
    </a>
  </h3>
  <small>(this user believes the theory is <b>{% if opinion.is_true %}true{% else %}false{% endif %}</b>, thus they belong to the {% if opinion.is_true %} <b>Black</b> {% else %} <font color="red"><b>Red</b></font> {% endif %} side)</small>

  <div class="row"> <!-- Row -->
    <div class="col-lg-8"> <!-- Main Column -->

      <!-- Details -->
      <!-- <div style="text-align: justify">{{  theory.details|bibliography }}</div> -->

      {% if stats %}

        <!-- PieChart -->
        <div class="card my-3">
          <h5 class="card-header"> Point Distribution </h5>
          <div class="card-body text-justify">
            {{ points_diagram|safe }}
            {{ points_text|safe }}
          </div>
        </div>

        <!-- BarGraph -->
        <div class="card my-3">
          <h5 class="card-header"> Population Histogram </h5>
          <div class="card-body text-justify">
            {{ population_diagram|safe }}
            {{ population_text|safe }}
          </div>
        </div>

      {% else %}

        <!-- VennDiagram -->
        <a id="VennDiagram" class="anchor" ></a>
        <div class="card my-3">
          <h5 class="card-header">
            Evidence Dependencies
            <small><small>
              <a href={{ swap_flat_url }}>
                {% if flat %}
                    (unflatten)
                {% else %}
                    (flatten)
                {% endif %}
              </a>
            </small></small>
          </h5>
          <div class="card-body text-justify">
            {{ evidence_diagram|safe }}
            {{ evidence_text|safe }}
            {% include "theories/opinion_detail_table.html" with opinion_nodes=evidence.collaborative  title="Collaborative evidence" %}
            {% include "theories/opinion_detail_table.html" with opinion_nodes=evidence.controversial  title="Controversial evidence" %}
            {% include "theories/opinion_detail_table.html" with opinion_nodes=evidence.contradicting  title="Contradicting evidence" %}
            {% include "theories/opinion_detail_table.html" with opinion_nodes=evidence.unaccounted    title="Insignificant / unaccounted for evidence" %}
          </div>
        </div>

      {% endif %}

      <p>
        {% if prev %}
          <a href={{ prev }}>Go to parent opinion.</a>
          <br>
        {% endif %}
        <a href={{ theory.url|add:params }}> Back to theory. </a>
      </p>

    </div> <!-- end column -->
    <div class="col-md-4"> <!-- Sidebar Column -->

      <!-- Actions -->
      <div class="card my-3">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">

            <!-- Share -->
            <li> Share </li>

            {% if opinion|get_class == 'Opinion' %}

              <!-- Edit -->
              {% has_perm 'theories.change_opinion' user opinion as can_change %}
              {% if can_change %}
                <li><a href="{% url_extra 'theories:opinion-my-editor' theory.id extra=params %}"> Edit Opinion </a></li>
              {% endif %}

              <!-- Delete -->
              {% has_perm 'theories.delete_opinion' user opinion as can_del %}
              {% if can_del %}
                <li><a data-target="#del_modal" data-toggle="modal" href="#del_modal"> Delete Opinion </a></li>
              {% endif %}

              <!-- Show/Hide -->
              {% if user.is_visible %}
                {% has_perm 'theories.change_opinion' user opinion as can_change %}
                {% if can_change %}
                  <li><a data-target="#anonymous_modal" data-toggle="modal" href="#anonymous_modal">
                    {% if opinion.anonymous %}
                      Reveal Username
                    {% else %}
                      Hide Username
                    {% endif %}
                  </a></li>
                {% endif %}
              {% endif %}


              {% if opinion.user != user %}

                <!-- Copy -->
                <li><a data-target="#copy_modal" data-toggle="modal" href="#copy_modal"> Copy Opinion </a></li>

                <!-- Follow/Un-Follow -->
                {% if user.is_authenticated %}
                  {% if subscribed %}
                    <li><a href="{{ opinion|unfollow_url }}?next={{ request.get_full_path }}"> Un-Follow </a></li>
                  {% else %}
                    <li><a href="{{ opinion|follow_url }}?next={{ request.get_full_path }}"> Follow </a></li>
                  {% endif %}
                {% endif %}

              {% endif %}
            {% endif %}

            <!-- Compare -->
            <li><a href="{{ compare_url }}"> Compare </a></li>

            <li><a href={{ swap_stats_url }}> {% if stats %} View Dependencies {% else %} View Stats {% endif %} </a></li>

            <li><a href="{% url 'theories:opinion-index' opinion.theory.pk 'all' %}">Browse Opinions</a></li>

          </ul>
        </div>
      </div>

      <!-- Opinions -->
      <div class="card my-3">
        <h5 class="card-header">Opinions</h5>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <!-- My Opinion -->
            {% if opinions.user %}
              <li><a href="{{ opinions.user.url }}"> My Opinion <span style="color:black">({{ opinions.user.true_points|float_to_percent }}/</span><span style="color:red">{{ opinions.user.false_points|float_to_percent }}</span><span style="color:black">)</span></a></li>
              <hr style="margin-top:0.5ex; margin-bottom:0.5ex;"/>
            {% endif %}
            {% if opinions.supporters %}
              <li><a href="{{ opinions.supporters.url }}"> {{ opinions.supporters.get_owner }} <span style="color:black">({{ opinions.supporters.true_points|float_to_percent }}/</span><span style="color:red">{{ opinions.supporters.false_points|float_to_percent }}</span><span style="color:black">)</span></a></li>
              <li><a href="{{ opinions.moderates.url }}"> {{ opinions.moderates.get_owner }} <span style="color:black">({{ opinions.moderates.true_points|float_to_percent }}/</span><span style="color:red">{{ opinions.moderates.false_points|float_to_percent }}</span><span style="color:black">)</span></a></li>
              <li><a href="{{ opinions.opposers.url }}"> {{ opinions.opposers.get_owner }} <span style="color:black">({{ opinions.opposers.true_points|float_to_percent }}/</span><span style="color:red">{{ opinions.opposers.false_points|float_to_percent }}</span><span style="color:black">)</span></a></li>
              <hr style="margin-top:0.5ex; margin-bottom:0.5ex;"/>
              <li><a href="{{ opinions.all.url }}"> {{ opinions.all.get_owner }} <span style="color:black">({{ opinions.all.true_points|float_to_percent }}/</span><span style="color:red">{{ opinions.all.false_points|float_to_percent }}</span><span style="color:black">)</span></a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <!-- Parent Opinions -->
      <div class="card my-3">
        <h5 class="card-header">Parent Opinions</h5>
        <div class="card-body">
          <div class="row">
            <ul>
              {% for x in parent_opinions %}
                <li><a href={{ x.url }}>{{ x }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div> <!-- end column-->
  </div> <!-- end row -->
{% endblock %}


{% block extra_modals %}

  <!-- Hide/Reveal -->
  <div class="modal" id="anonymous_modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title">Please confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        {% if opinion.anonymous %}
          <!-- body -->
          <div class="modal-body">
            Are you sure you want to reveal your identity?
          </div>

          <!-- footer -->
          <div class="modal-footer">
              <form action="{% url 'theories:opinion-reveal-user' opinion.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" name="reveal" value="Yes">
              </form>
            <button type="button" class="btn" data-dismiss="modal">No</button>
          </div>
        {% else %}
          <!-- body -->
          <div class="modal-body">
            Warning: this will hide your identity on all connected opinions but not future opinions.
            Are you sure you want to hide your identity?
          </div>

          <!-- footer -->
          <div class="modal-footer">
            {% if opinion.user %}
              <form action="{% url 'theories:opinion-hide-user' opinion.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" name="hide" value="Yes">
              </form>
            {% endif %}
            <button type="button" class="btn" data-dismiss="modal">No</button>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  <!-- Delete -->
  <div class="modal" id="del_modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title">Please confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- body -->
        <div class="modal-body">
          Are you sure you want to delete your opinion?
        </div>

        <!-- footer -->
        <div class="modal-footer">
          {% if opinion.user %}
            {% has_perm 'theories.delete_opinion' user opinion as can_delete %}
            <form action="{% url 'theories:opinion-delete' opinion.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" name="delete" value="Yes" {% if not can_delete %} disabled {% endif %}>
            </form>
          {% endif %}
          <button type="button" class="btn" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Copy -->
  <div class="modal" id="copy_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        {% if opinion.user %}
          <form action="{% url 'theories:opinion-copy' opinion.id %}" method="post">
            {% csrf_token %}

            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title">Please confirm</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- body -->
            <div class="modal-body">
              Are you sure you want to copy this opinion to your own opinion?
              <div style="margin:10px;">
                <input type="checkbox" name="recursive" value="yes"> Recursive?<br>
              </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
              {% has_perm 'theories.add_opinion' user as can_copy %}
              <input type="submit" class="btn btn-danger" name="copy" value="Yes "{% if not can_copy %} disabled {% endif %}>
              <button type="button" class="btn" data-dismiss="modal">No</button>
            </div>

          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock extra_modals %}


{% block extra_js %}
  <!--https://api.jquery.com/hover/-->
  <script>
    $( "a" ).hover(
      function() {
        var tag_id = $(this).attr('tag_id');
        ShowElement(tag_id);
      }, function() {
        var tag_id = $(this).attr('tag_id');
        HideElement(tag_id);
      }
    );

    function HideElement(id) {
      obj = document.getElementById(id).style.visibility = 'hidden';
    }

    function ShowElement(id) {
      document.getElementById(id).style.visibility = 'visible';
    }
  </script>
{% endblock extra_js %}



