<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/opinion_how2.html
@brief      The HowTo section for creating/editiong opinions
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->

<h3> Hints: </h3>

<div class="row">

  <div class="col-lg-4">
    <div class="card my-3 text-justify">
      <h6 class="card-header">
        Points
        </h5>
        <div class="card card-body">
          Points are relative. Assign the same value of points to two statements
          that you believe to be equally compelling.
        </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card my-3 text-justify">
      <h6 class="card-header">
        Total Points
        </h5>
        <div class="card card-body">
          The total points are calculated by adding up the individual columns.
          However, if the points are forced then they remain constant. Forcing
          the total decouples the true points from the false points and the
          calculated points now conform to the forced ratio.
        </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card my-3 text-justify">
      <h6 class="card-header">
        Sub-Theories
        </h5>
        <div class="card card-body">
          Form an opinion on the sub-theories first. That way if you believe the
          opposite of what is stated, the text will reflect that.
          <br><br />
          Additionally, the distribution (ratio) of points assigned to the
          sub-theory will be re-calculated to reflect the formed opinion. To
          override this feature, enable the force option.
        </div>
    </div>
  </div>

</div>