<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/theory_edit_merge.html
@brief      The page for merging two theories
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra %}
{% load rules %}


{% block header %}{% endblock %}
{% block content %}

<!-- Title -->
<h3><br>{{ theory }}</h3>
{% with MergeTab=True %}
{% include "theories/theory_edit_tabs.html" %}
{% endwith %}

<div class="row">
  <!-- Row -->
  <div class="col-lg-8">
    <!-- Main Column -->

    <form action="{% url_extra 'theories:theory-merge' theory.id extra=params %}" method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <!-- errors -->
      {% include "include/formset_errors.html" with formset=formset %}
      <div class="card my-3">
        <h5 class="card-header">
          Merge:
        </h5>
        <div class="card card-body">
          <table>
            <tbody align="left" valign="top">
              {% for form in formset %}
              <tr>
                {{ form.id }}
                <td style="text-align:center">{{ form.select }}</td>
                <td />
                <td>{{ form.instance }}</td>
              </tr>
              {% endfor %}
              <td><br></td>
            </tbody>
          </table>
          {% include "include/paginator.html" with list=candidates %}
        </div>
      </div>

      <!-- Buttons -->
      <center>

        <!-- Back -->
        <button><a class="plain" href="{{ prev }}">Back</a></button> &nbsp

        <!-- Merge -->
        {% has_perm 'theories.merge_theorynode' user theory as can_merge %}
        <button type="button" data-toggle="modal" data-target="#merge_modal" {% if not can_merge %} disabled
          {% endif %}>
          Merge
        </button>

      </center>


      <!-- Merge Modal -->
      <div class="modal" id="merge_modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title">Please confirm</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- body -->
            <div class="modal-body">
              This is an irreversible procedure that effects user opinions.
              <b>Manually merge the information</b> from the merged theories
              before this step and <b>ensure</b> the merged theories are
              <b>equivent and not complements</b> of each other.
            </div>

            <!-- footer -->
            <div class="modal-footer">
              {% has_perm 'theories.merge_theorynode' user theory as can_merge %}
              <input type="submit" class="btn btn-danger" name="merge" value="Yes" {% if not can_merge %} disabled
                {% endif %}>
              <button type="button" class="btn" data-dismiss="modal">No</button>
            </div>

          </div>
        </div>
      </div>

    </form>

  </div> <!-- end column -->
  <div class="col-md-4">
    <!-- Sidebar Column -->

    <!-- Actions -->
    <div class="card my-3">
      <h5 class="card-header">Actions</h5>
      <div class="card-body">
        <ul class="mb-0">
        </ul>
      </div>
    </div>

    <!-- Search -->
    <div class="card my-3">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

  </div> <!-- end column-->
</div> <!-- end row -->
{% endblock %}



{% block extra_modals %}
{% endblock %}