<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/theory_how2.html
@brief      The HowTo content for creating/editing theories
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->

  {% load static %}

  <div class="card my-3">
    <div class="card-header">
      <a class="plain" data-toggle="collapse" role="button" aria-expanded="false"
          href="#help0" aria-controls="help0">
        <img src="{% static 'core/img/expand.svg' %}" height='13'>
        &nbsp
        How To Compose the Statement
      </a>
    </div>
    <div class="collapse" id="help0">
      <div class="card card-body">
        <p>Statements must be composed without implication. For example the
        statement "Anyone with a brain can see that Trump is a genius" implies
        that the statement is true. It should instead be composed as "Trump is
        a genius".</p>
        
        <p>The false statement must be the logical complement and must not make
        any additional implications. For example the statement "Trump is
        stupid" is not the compliment of "Trump is a genius", "Trump is not a
        genius" is the complement.</p>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      <a class="plain" data-toggle="collapse" role="button" aria-expanded="false"
          href="#help1" aria-controls="help1">
        <img src="{% static 'core/img/expand.svg' %}" height='13'>
        &nbsp
        How To Format The Text
      </a>
    </div>
    <div class="collapse" id="help1">
      <div class="card card-body">
        <p>The deail section of the thoery can be composed with Markdown. See the markdown
        guide for some <a href="https://www.markdownguide.org/basic-syntax/">basic</a>
        and <a href="https://www.markdownguide.org/extended-syntax/">extended</a> syntax.</p>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      <a class="plain" data-toggle="collapse" role="button" aria-expanded="false"
          href="#help2" aria-controls="help2">
        <img src="{% static 'core/img/expand.svg' %}" height='13'>
        &nbsp
        How To Create Links
      </a>
    </div>
    <div class="collapse" id="help2">
      <div class="card card-body">
        <p>A link is created with round brackets, optionally preceeded by a set of square brackets
           to provide a discription of the link.</p>

        <p>For example: [Wiki-O](http://www.wiki-o.com) will render as
           <a href="http://www.wiki-o.com">Wiki-O</a> and (http://www.wiki-o.com) will render as
           <a href="http://www.wiki-o.com">http://www.wiki-o.com</a>.</p>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      <a class="plain" data-toggle="collapse" role="button" aria-expanded="false"
          href="#help3" aria-controls="help3">
        <img src="{% static 'core/img/expand.svg' %}" height='13'>
        &nbsp
        How To Create a Bibliography
      </a>
    </div>
    <div class="collapse" id="help3">
      <div class="card card-body">
        <p>To create a bibliography, use footnotes [^1] inline with your text followed by [^1]:
        The footnote text.</p>

        For example:
        <p>In November 2005, Steven Avery<sup id="fnref1"><a href="#fn1" rel="footnote">1</a></sup>
        was arrested for the murder of Wisconsin photographer Teresa Halbach. In 2007 he was
        convicted and sentenced to life imprisonment without possibility of parole. The conviction
        was upheld by higher courts<sup id="fnref2"><a href="#fn2" rel="footnote">2</a></sup>.</p>

        <ol class="bib">
          <li id="fn1">
            <p><a href="https://en.wikipedia.org/wiki/Steven_Avery">Steven Avery&#39;s Wikipedia page</a>.</p>
          </li>
          <li id="fn2">
            <p><a href="http://making-a-murderer.wikia.com/wiki/Making_a_Murderer_Wikia Fandom">Making a Murderer</a>.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
