<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/theory_create.html
@brief      The theory create page
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra %}


{% block header %}{% endblock %}
{% block content %}
  <form action="{% url_extra 'theories:theory-create' category.slug extra=params %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row"> <!-- Row -->
      <div class="col-lg-8"> <!-- Main Column -->

        <div class="card my-3">
          <h5 class="card-header">
            Create New Theory:
          </h5>
          <div class="card card-body">
              {{ form|crispy }}
          </div>
        </div>

        <!-- Buttons -->
        <center>
          <!-- Back -->
          <button><a class="plain" href="{{ prev }}">Back</a></button> &nbsp

          <!-- Save -->
          <input accesskey="s" type="submit" name="save" value="Save">
        </center>

        <br>
        {% include "theories/theory_how2.html" %}

      </div> <!-- end column -->
      <div class="col-md-4"> <!-- Sidebar Column -->

        <!-- Categories -->
        <div class="card my-3">
          <h5 class="card-header"> Categories </h5>
          <div class="card-body">
            <ul class="list-unstyled row mb-0">
              {% for x in formset %}
                <li class="list-item col-lg-6">
                  {{ x.id }}
                  {{ x.member }}
                  {{ x.instance }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div> <!-- end column-->
    </div> <!-- end row -->
  </form>
{% endblock %}
