<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/theories/theory_how2.html
@brief      The HowTo content for creating/editing theories
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->

  <div class="card my-3 text-justify">
    <h5 class="card-header">
      How To Compose the Statement
    </h5>
    <div class="card card-body">
      Statements must be composed without implication. For example the
      statement "Anyone with a brain can see that Trump is a genius" implies
      that the statement is true. It should instead be composed as "Trump is
      a genius".
      <br></br>
      The false statement must be the logical complement and must not make
      any additional implications. For example the statement "Trump is
      stupid" is not the compliment of "Trump is a genius", "Trump is not a
      genius" is the complement.
    </div>
  </div>

  <div class="card my-3 text-justify">
    <h5 class="card-header">
      How To Create Links
    </h5>
    <div class="card card-body">
      There are three types of links that can be included in the details
      section: inline, bib, and bib without text reference. Inline links
      are surrounded by &lt;&gt; and contain the url and title separated
      by a space. Bib links are similarly composed with square brackets and
      bib links without text reference are composed with double square
      brackets. If bib links are included, then a bibliography will be
      automatically appended to the text.

      <br> </br>
      Example: A bib link to this site would look like [www.wiki-o.com Wiki-O].
    </div>
  </div>

