/*   __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       core/tests.py
@brief      A collection of app specific unit tests
@copyright  GNU Public License, 2018
@authors    Frank Imeson
*/


.navbar.machina-navbar{
  height:100px
}

.navbar-fixed-top-spacing{
  height:115px
}

.breadcrumb{
  padding-top:8px;
  padding-bottom:0px;
  padding-left:15px;
  margin-bottom:0px;
  list-style:none;
  background-color:#ffffff;
}

