<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/include/formset_errors.html
@brief      A helper template for displaying errors
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% if formset.errors %}
  {% for error in formset.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
  {% endfor %}
{% endif %}



