<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/include/info.html
@brief      A helper template for displaying the theory/evidence info
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% load static %}
{% load extra %}


{% if x.is_subtheory %}
<div class="about">
  <img src="{% static 'core/img/info_theory.svg' %}" height='16'>
  <span class="abouttext">{{ x.about|short_details }}</span>
</div>
{% else %} {% if x.is_fact %}
<div class="about">
  <img src="{% static 'core/img/info_fact.svg' %}" height='16'>
  <span class="abouttext">{{ x.about|short_details }}</span>
</div>
{% else %}
<div class="about">
  <img src="{% static 'core/img/info_other.svg' %}" height='16'>
  <span class="abouttext">{{ x.about|short_details }}</span>
</div>
{% endif %} {% endif %}