<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       theories/templates/include/link.html
@brief      A helper template for adding link images
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% load static %}
{% load extra %}


<a href={{ x.url|add:parms.get_next }}>
  <img src="{% static 'home/img/link.svg' %}" height='13'>
</a>
